//Vars
@bgColor: #b8cee5;
@textColor:#ffffff;



.App{
    background-color: @bgColor;
    color: @textColor;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

