//Vars
@bgColor: #b8cee5;
@textColor:#ffffff;
@detailColor:#315f81;

//imports
@import url(./components/Header/Header.less);

.App{
    background-color: @bgColor;
    color: @textColor;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

